.profile__btn-edit {
  background-image: url(./edit-button.svg);
  min-width: 24px;
  min-height: 24px;
  background-size: contain;
  margin:0;
  padding: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}


.profile__btn-edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .profile__btn-edit {
    min-width: 18px;
    min-height: 18px;
  }

}